testrpc:
    image: "codelab-ethereum"
    expose:
        - "8545"
    command: "testrpc -d"
unit:
    image: "codelab-ethereum"
    command: "truffle test"
    volumes:
        - ./:/usr/src/app
    links:
        - "testrpc"
web:
    image: "codelab-ethereum"
    ports:
        - "9000:9000"
        - "35729:35729"
    volumes:
        - ./:/usr/src/app
    command: "gulp serve"
    links:
        - "testrpc"

# command:
#     image: "codelab-ethereum"
#     volumes:
#         - ./:/usr/src/app
#     tty: true
#     links:
#         - "testrpc"
#     entrypoint: /bin/sh
